@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

body{
    font: 18px "Nunito", sans-serif;
    color: black;
    min-height: 300vh;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100px;

    &::before {
        content: ''; 
        position: fixed;
        inset: 0;
        z-index:-1;
        pointer-events: none;
        background: url(bg.jpg) no-repeat center;
        background-size: cover;
        animation: backgroundZoomAnimate 20s forwards;
    }
}

@keyframes backgroundZoomAnimate {
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.3);
    }
}

.profile-card {
    
    border-radius: 50px;
    width: 1200px;
    height: 1000px;
    position: relative;
    backdrop-filter: blur(15px);
    border: 2px solid #ffffff40;
    padding: 8rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 7px;

    &__img img{
        margin: auto;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        

    }

    &__desc {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 18px;

        h1{
            font-size: 3rem;
            font-weight: bold;

            & + div {
                font-size: 23px;
            }
        }
    }

    &__info{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 40px;
        font-weight: lighter;

        @media screen and (max-width: 576px) {
            gap: 8px;
        }

        & > div{
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;

            & > *:first-child{
                font-weight: bold;
                letter-spacing: 3px;
                font-size: 3rem;
                margin-bottom: 15px;
            }

            & > *:last-child{
                font-size: 23px;
                opacity: .7;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

        a{
            display: inline-flex;
            width: 75px;
            height: 75px;
            margin: 15px;
            border-radius: 40%;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            flex-shrink: 0;
            transition: all .2s;
            
            @media screen and (max-width:768px){
                width: 100px;
                height: 100px;
                margin: 10px;
            }
            
            @media screen {
                &:hover{
                    transform: scale(1.2) translateY(-5px);
                }

                &.telefone {
                    background: linear-gradient(to right, #17853f, #107e39);
                   
                }
                &.email {
                    background: linear-gradient(#1293d2 , #0e76a8);
                   
                }
                &.instagram {
                    background: linear-gradient(45deg, rgb(240, 186, 12), #b94a75 , #8e3fc4, #62288b);
                    
                } 
                &.whatsapp {
                    background: linear-gradient(to right, #25d366, #1bb453);
                }
            }
        }

      &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20rem;

        &>a>button{
            font-weight: bold;
            font-size: 26px;
            padding:  23px 0px;
            min-width: 320px;
            border-radius: 60px;
            text-align: center;
            color: white;
            cursor: pointer;
            transition: all .2s;

            @media screen and (max-width: 768px){
                min-width: 200px;
            }
              
            @media screen and (min-width:576px) {
                &:hover {
                    transform: translateY(-5px);
                }
            }

            &.red{
                background: linear-gradient(45deg, #851a1a, #770606);
            }
            
            &.green{
                background: linear-gradient(45deg, #0b8045, #06832b);
            }
        }
      }    
    }
    // teste