@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

body{
    font: 18px "Nunito", sans-serif;
    color: rgb(255, 255, 255);
    
    min-height: 150vh;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100px;

    &::before {
        content: ''; 
        position: fixed;
        inset: 0;
        z-index:-1;
        pointer-events: none;
        background: url(mansao.jpg) no-repeat center;
        filter: blur(12px);
        background-size: cover;
        animation: backgroundZoomAnimate 20s forwards;
    }
}

@keyframes backgroundZoomAnimate {
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.3);
    }
}

.profile-card {
    
    border-radius: 50px;
    width: 120%;
    height: 2250px;
    position: relative;
    backdrop-filter: blur(15px);
    // border: 2px solid #ffffff40;
    padding: 15rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__img img{
        margin: auto;
        width: 475px;
        height: 475px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        

    }

    &__desc {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1{
            font-size: 10rem;
            font-weight: bolder;

            & + div{
                font-size: 70px;
            }
        }
    }

    &__info{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 40px;
        font-weight: bold;

        @media screen and (max-width: 576px) {
            gap: 18px;
        }

        & > div{
            text-transform: uppercase;
            font-weight: bolder;
            letter-spacing: 1px;
            text-align: center;

            & > *:first-child{
                font-weight: bolder;
                letter-spacing: 7px;
                font-size: 6rem;
                margin-bottom: 15px;
            }

            & > *:last-child{
                font-size: 40px;
                opacity: .7;
                letter-spacing: 0.7px;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

        a{
            display: inline-flex;
            width: 180px;
            height: 180px;
            margin: 40px;
            border-radius: 40%;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            flex-shrink: 0;
            transition: all .2s;
            
            @media screen and (max-width:768px){
                width: 250px;
                height: 250px;
                margin: 20px;
            }
            
            @media screen {
                &:hover{
                    transform: scale(1.2) translateY(-5px);
                }

                &.telefone {
                    background: linear-gradient(to right, #17853f, #107e39);
                   
                }
                &.email {
                    background: linear-gradient(#1293d2 , #0e76a8);
                   
                }
                &.instagram {
                    background: linear-gradient(rgb(250, 67, 67), rgb(253, 68, 68));
                    
                } 
                &.whatsapp {
                    background: linear-gradient(to right, #25d366, #1bb453);
                }
            }
        }

      &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28rem;

        &>a>button{
            font-weight: bold;
            font-size: 47px;
            padding:  21px 0px;
            min-width: 450px;
            border-radius: 60px;
            text-align: center;
            color: white;
            cursor: pointer;
            transition: all .2s;

            @media screen and (max-width: 768px){
                min-width: 200px;
            }
              
            @media screen and (min-width:576px) {
                &:hover {
                    transform: translateY(-5px);
                }
            }

           
            
            &.green{
                background: linear-gradient(45deg, #0d7541, #077729);
            }
            &.texto{
                text-align: center;
            }
        }
      }    
    }
    // teste